extends include/template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Курсы';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'courses-page';
block content
    section.courses
        div.inner
            h2.main-title Здесь скоро появятся наши курсы...