extends include/template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Занятие с преподавателем';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'private-lesson';
block content
    h2.title Занятие с преподавателем
    //section.privateless.inner
    //    a(href='/').button.book-privateless-btn забронировать
    div#vue-book-calendar