#mysite {
  .private-lesson {
    .title {
      font-weight: 400;
      position: relative;
      top: 265px;
      text-align: center;
      color: $colorLightBlack;
    }
    .privateless {
      display: none;
      padding-top: 300px;
      .book-privateless-btn {
        width: 280px;
        height: 80px;
        background-color: $colorRed;
        line-height: 76px;
      }
    }

    .show-session {
      display: block!important;
    }
    .hide-session {
      display: none;
    }

  }
}