<!DOCTYPE html>
<html lang="en">
  <head>
    <title>speaking-club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
  <link href="styles/app.css" rel="stylesheet"></head>
  <body id="mysite">
<section class="login-form authorization-forms">
  <div class="form-frame">
    <div class="container">
      <h3 class="form-title">Вход</h3>
      <div class="logo-mobile-ver"></div>
      <div class="form-close-btn form-close-btn--login-form"></div>
      <!--img(src="../images/icons/close-btn.svg", alt="close").form-close-btn.form-close-btn--login-form-->
    </div>
    <!--img(src="../images/icons/form-decor-line.svg", alt="line").decor-line.decor-line--login-form-->
    <div class="decor-line decor-line--login-form"></div>
    <form class="form login-form">
      <input class="form__elem form-input form-input--email" type="email" placeholder="email" id="email">
      <div class="login-check login-check-email login-check--disable">поле обязательно для заполнения</div>
      <label class="label-email" for="email"></label>
      <input class="form__elem form-input form-input--password" type="password" placeholder="пароль" id="password">
      <div class="login-check login-check-password login-check--disable">поле обязательно для заполнения</div>
      <label class="label-password" for="password"></label>
      <div class="login-invalid login-invalid--disable">
        <p>неверные email или пароль</p>
      </div>
      <p class="reg-log-changer form__elem">У вас нет аккаунта? Регистрация</p>
      <div class="decor-line decor-line--login-form"></div>
      <input class="form__elem form-submit form-submit-login button" type="submit" value="войти">
    </form>
  </div>
</section>
<section class="register-form authorization-forms">
  <div class="form-frame">
    <div class="container">
      <h3 class="form-title">Регистрация</h3>
      <div class="logo-mobile-ver"></div>
      <div class="form-close-btn form-close-btn--register-form"></div>
      <!--img(src="../images/icons/close-btn.svg", alt="close").form-close-btn.form-close-btn--register-form-->
    </div>
    <div class="decor-line decor-line--login-form"></div>
    <form class="form" method="post">
      <input class="form__elem form-input form-input--username required-input" type="text" placeholder="имя пользователя" id="username" name="username">
      <div class="reg-check reg-check-name reg-check--disable">поле обязательно для заполнения</div>
      <label for="username"></label>
      <input class="form__elem form-input form-input--password required-input" type="password" placeholder="пароль" id="reg-password" name="password">
      <div class="reg-check reg-check-pass reg-check--disable">поле обязательно для заполнения</div>
      <label class="label-password" for="password"></label>
      <input class="form__elem form-input form-input--re-password required-input" type="password" placeholder="повторите пароль" id="re-password">
      <label class="label-re-password" for="re-reg-password"></label>
      <div class="reg-check check-re-password reg-check--disable">пароли не совпадают</div>
      <input class="form__elem form-input form-input--email required-input" type="email" placeholder="email" id="reg-email" name="email">
      <div class="reg-check reg-check-email reg-check--disable">поле обязательно для заполнения</div>
      <label class="label-email" for="email"></label>
      <input class="form__elem form-input form-input--skype" type="text" placeholder="skype" id="skype" name="skype">
      <label for="skype"></label>
      <p class="reg-log-changer form__elem">Уже зарегестрированы? Войти</p>
      <div class="decor-line decor-line--login-form"></div>
      <input class="form__elem form-submit form-submit-register button" type="submit" value="зарегестрироваться">
    </form>
  </div>
</section>
<section class="register-success">
  <div class="register-success__frame"> <img class="success-img" src="../images/icons/succes.svg" alt="success">
    <h2>Поздравляем, <br> Вы успешно зарегистрировались!</h2>
    <h3>Теперь вы можете полностью использовать функционал сайта. <br> Что бы забронировать урок - перейдите в раздел<br>  <a href="">“Занятие с преподавателем” </a></h3>
    <div class="button reg-success-btn">далее</div>
  </div>
</section>
    <header class="header inner">
      <div class="header__overhead">
        <div class="social-net-btns social-net-btns--header"><a class="social-net-btns__elem social-net-btns__elem--instagram" href="../"></a><a class="social-net-btns__elem social-net-btns__elem--tiktok" href="../"></a></div><a class="header-logo" href="index.php">
          <!--img(src="images/icons/logo.svg", alt="logo")--></a>
        <div class="service-btns"> 
          <div class="btn-change-lang language eng-lang">
            <div class="lang-changer language rus-lang"></div>
          </div>
          <div class="btn-login">Войти</div>
          <div class="user-login"><img class="user-login__elem" src="images/icons/user-ico.svg" alt="">
            <p class="user-login__elem user-login__elem--user-name"></p><img class="user-login__elem" src="images/icons/user-arrow.svg" alt="">
            <div class="user-login-menu"><a class="user-login-menu__elem user-login-menu__elem--messages" href="/">Сообщения</a><a class="user-login-menu__elem user-login-menu__elem--lessons" href="../">Мои уроки</a><a class="user-login-menu__elem user-login-menu__elem--settings" href="../">Настройки</a>
              <div class="decor-line decor-line--user-login-menu"></div><a class="user-login-menu__elem user-login-menu__elem--logout" href="../index.php">Выход</a>
            </div>
          </div>
          <div class="burger-btn">
            <input class="burger-menu burger-menu-input" type="checkbox" id="burger">
            <label class="burger-menu-label" for="burger">
              <div class="burger-menu-line"></div>
              <div class="burger-menu-line"></div>
              <div class="burger-menu-line"></div>
            </label>
          </div>
        </div>
      </div>
      <div class="decor-line decor-line--header decor-line--header-mobile"></div>
      <div class="header__lower inner">
        <div class="decor-line decor-line--header"></div>
        <nav class="header-menu"><a class="header-menu--about" href="about.php">Об авторе</a><a class="header-menu--courses" href="courses.php">Курсы</a><a class="header-menu--private" href="private-lesson.php">Занятие с преподавателем</a><a class="header-menu--s-club" href="speaking-club.php">Speaking-club</a><a class="header-menu--guide" href="guide.php">Гайд</a></nav>
        <div class="decor-line decor-line--header decor-line-mobile-hide"></div>
      </div>
    </header>
    <main class="speaking-club"><section id="booking-calendar" class="your-calendar inner">
    <h3 class="your-calendar__element your-calendar__element--main-title main-title">Все online-Занятия с
        преподавателем проходят в Skype</h3>
    <div class="your-calendar__element your-calendar__element--instruction instruction">
        <p class="instruction__element">1. Выберите удобное для вас время</p>
        <p class="instruction__element instruction__element--separator">></p>
        <p class="instruction__element">2. Оплатите урок</p>
        <p class="instruction__element instruction__element--separator">></p>
        <p class="instruction__element">3. Готовьтесь к уроку</p>
    </div>
    <div class="your-calendar__element your-calendar__element--calendar-app calendar-app">
        <div class="calendar-app-header">
            <div class="calendar-app-header__element calendar-app-header__element--month-module">
                <div @click="decrease" class="month-btn month-btn--left-btn"></div>
                <div @click="increase" class="month-btn month-btn--right-btn"></div>
                <p class="month">{{monthes[month]}} {{dateInterval}}, {{year}}</p>
            </div>
            <h2 class="calendar-app-header__element calendar-app-header__element--title">Календарь занятий</h2>
            <select class="calendar-app-header__element calendar-app-header__element--time-zone">
                <option>Europe/Moscow GMT +3:00</option>
            </select>
        </div>
        <div class="decor-line"></div>
        <div class="calendar-app-content">

            <div class="decor-dates">
                <div class="decor-dates__elem"></div>
                <div class="decor-dates__elem"></div>
                <div class="decor-dates__elem"></div>
                <div class="decor-dates__elem"></div>
                <div class="decor-dates__elem"></div>
                <div class="decor-dates__elem"></div>
                <div class="decor-dates__elem"></div>
            </div>
            <div class="calendar-app-content-col">
                <div v-for="d in day" class="calendar-app-content-day">{{d}}</div>
            </div>

            <div v-for="week in weekCalendar()" class="calendar-app-content-col">
                <div v-for="day in week" :today="day.today"
                     :style="{'background-color': day.current, 'color': day.color, 'font-weight': day.font}"
                     class="calendar-app-content-number" :date="day.index + '.' + currentMonth + '.' + year">
                    {{day.index}}
                </div>
            </div>

            <div v-for="week in weekCalendar()" class="time-intrevals-from-db">
                <div @click="chooseTime($event)" v-for="day in week" :date="day.index + '.' + currentMonth + '.' + year"
                     class="time-intrevals-elem time-intrevals-from-db__item"></div>
            </div>

        </div>
        <a @click.prevent="bookEvent()" href="" class="button book-btn">забронировать</a>

        <div class="tegs">
            <div class="tegs__element">
                <div class="circle circle--booked"></div>
                <span>Забронированное занятие</span>
            </div>
            <div class="tegs__element">
                <div class="circle circle--available"></div>
                <span>Доступное время</span>
            </div>
            <div class="tegs__element">
                <div class="circle circle--unavailable"></div>
                <span>Недоступное время</span>
            </div>
        </div>
        <div v-show="enterSkype"  class="enter-your-skype">
            <h2 class="enter-your-skype__element">Все занятия проходят в skype</h2>
            <h3 class="enter-your-skype__element">Для продолжения введите номер <br> своего skype и нажмите ‘далее’</h3>
            <div class="flex">
                <div class="skype-icon-for-input"></div>
                <div id="enter-your-skype" class="flex">
                    <input class="enter-your-skype__element input-skype" type="text" placeholder="skype">
                    <div @click="sendSkype()" class="button send-skype">send</div>
                </div>
                <div v-show="validationSkype" class="validation-skype">поле не должно быть пустым</div>
            </div>
            <h3 class="enter-your-skype__element">Skype преподавателя: <span>svetlana tutorOnline</span></h3>
        </div>
    </div>
</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    </main>
    <footer class="footer inner">
      <div class="decor-line decor-line--footer"></div>
      <div class="footer-content"><a class="footer-content__element footer-content__element--logo" href="../">
          <!--img(src="../images/icons/logo.svg", alt="logo").footer-content__element.footer-content__element--logo--></a>
        <div class="footer-content__element footer-content__element--text">
          <h2 class="footer-questions">Если возникли вопросы:</h2><a href="../">
            <h2 class="footer-email">svetlana.totr@gmail.com</h2></a>
          <!--a(href="../")-->
          <!--    h2.footer-skype @svetlana.totr-->
        </div>
        <div class="footer-content__element social-net-btns"><a class="social-net-btns__elem social-net-btns__elem--instagram" href="../">
            <!--img(src="../images/icons/insta-icon.svg")--></a><a class="social-net-btns__elem social-net-btns__elem--tiktok" href="../">
            <!--img(src="../images/icons/tiktok.svg")--></a></div>
      </div>
    </footer>
  <script type="text/javascript" src="scripts/app.js"></script></body>
</html>