extends include/admin-template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Страница преподавателя';
    - const bodyAdditionClass = 'admin';
    - const pageAdditionClass = 'admin-main';
block content
    div#vue-my-calendar
    div#vue-my-schedule
