extends include/template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Бесплатное занятие';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'free-lesson';
block content

    div#vue-book-calendar