extends include/template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Гайд';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'guide';
block content
    section.video-block
        h1.main-title THE RUSSIAN ALPHABET
        div.guide-video
            div.video-container
                iframe#guide-video(width="1200px" height="315" src="https://www.youtube.com/embed/mUPs1h9TZSg?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        a(href='../images/guide/russian_alphabet.pdf' target="_blank").button.button--dwnl-guide-btn скачать
        div.dwnl-description russian_alphabet.pdf
    section.alphabet-slider
        div.owl-carousel.owl-theme.owl-carousel-1
            img(src='../images/guide/alphabet_1.jpg').carousel-img
            img(src='../images/guide/alphabet_2.jpg').carousel-img
            img(src='../images/guide/alphabet_3.jpg').carousel-img
            img(src='../images/guide/alphabet_4.jpg').carousel-img
            img(src='../images/guide/alphabet_5.jpg').carousel-img
            img(src='../images/guide/alphabet_6.jpg').carousel-img
            img(src='../images/guide/alphabet_7.jpg').carousel-img
            //div.carousel-img.carousel-img--one
            //div.carousel-img.carousel-img--two
            //div.carousel-img.carousel-img--three
            //div.carousel-img.carousel-img--four
            //div.carousel-img.carousel-img--five
            //div.carousel-img.carousel-img--six
            //div.carousel-img.carousel-img--seven
        a(href='../images/guide/russian_alphabet.pdf' target="_blank").button.button--dwnl-guide-btn скачать
        div.dwnl-description russian_alphabet.pdf