extends include/template
append sharedVars
    - const pageUrl = '/index.php';
    - const pageTitle = 'Главная';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.about-school-video
        div.video-container
            div.close-line Подробнее про нашу школу
                div.close-button
            iframe#about-video(width="1200px" height="315" src="https://www.youtube.com/embed/mUPs1h9TZSg?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).detailed-about-school

    section.top-index
        div.inner
            div.top-index__element.top-index__element--left
                h1.top-index-title Online - школа  #[span русского]  языка как  иностранного
                h2.top-index-second-title Русский язык от носителя #[br] с любовью из России
                h2.top-index-first-title Начни изучать алфавит #[br] прямо сейчас
                a(href="/guide.php").button.get-guide-btn.red-btn получить гайд #[br] бесплатно
            div.top-index__element.top-index__element--right
                div.top-index-photo
                    div.top-index-photo__elem.top-index-photo__elem--name
                    div.top-index-photo__elem.top-index-photo__elem--description
                    //img(src="../images/index/photoname.svg").top-index-photo__elem.top-index-photo__elem--name
                    //img(src="../images/index/photodescription.svg").top-index-photo__elem.top-index-photo__elem--description
            div.about-school-btn
                p Подробнее про нашу школу
                div.about-school-btn--play-btn
                //img(src="../images/icons/play.png" alt="play").about-school-btn--play-btn
    section.for-whom.section
        h1.title.for-whom-title ДЛЯ КОГО НАША ШКОЛА?
        div.owl-carousel.owl-theme.owl-carousel-1
            div.carousel-img.carousel-img--one
                div.carousel-img-description Для тех, кто хочет найти вторую #[br] половинку
            div.carousel-img.carousel-img--two
                div.carousel-img-description Для тех, кто любит русскую культуру
            div.carousel-img.carousel-img--three
                div.carousel-img-description Для тех, чья вторая половинка #[br]говорит по русски
            div.carousel-img.carousel-img--four
                div.carousel-img-description Для тех, кто хочет приехать в Россию
            div.carousel-img.carousel-img--five
                div.carousel-img-description Для тех, кому нужен русский для работы
        a(href="../").get-free-lesson-btn.button.red-btn получить #[br] бесплатное занятие
    include include/offers
    section.about
        div.inner
            div.about__element.about__element--left
                //img(src="../images/index/top-index-main-photo.png")
            div.about__element.about__element--right
                h1.title.about-title ОБО МНЕ
                div.about-social-net
                    a(href="https://www.instagram.com/svetlana_totrova/" target="_blank").about-social-net__elem.about-social-net__elem--insta
                        //img(src="../images/icons/about-insta-icon.svg")
                    a(href="../").about-social-net__elem.about-social-net__elem--tiktok
                        //img(src="../images/icons/about-tiktok.svg")
                h3.slogan.about-slogan Носитель русского языка из России
                div.about-items
                    p.about-items__item.a Сертифицированный преподаватель #[br] русского языка как иностранного
                    p.about-items__item.b Более 3-х лет обучаю иностранцев со всего мира
                    p.about-items__item.c Веду блог о русском языке, России и своей культуре в Instagram и Tik Tok
                    p.about-items__item.d Основатель онлайн-школы и автор образовательных курсов по русскому языку
        h2.detail-slogan Буду очень рада видеть тебя #[br] на моих online-занятиях
        a(href="/about.php").button.detail-btn.red-btn  подробнее
    section.reviews
        h1.title.reviews-title ЧТО ГОВОРЯТ СТУДЕНТЫ
        div.inner
            div.reviews-container
                div.reviews-col.reviews-col--left
                    //div.review.review--a
                    //div.review.review--b
                    //div.review.review--c
                    img(src="../images/index/reviews-left_1.png")
                    img(src="../images/index/reviews-left_2.png")
                    img(src="../images/index/reviews-left_3.png")
                div.reviews-col.reviews-col--right
                    //div.review.review--d
                    //div.review.review--e
                    //div.review.review--f
                    img(src="../images/index/reviews-right_1.png")
                    img(src="../images/index/reviews-right_2.png")
                    img(src="../images/index/reviews-right_3.png")
            div.owl-carousel.owl-carousel-2.owl-theme
                //div.carousel-item.carousel-item--a
                //div.carousel-item.carousel-item--b
                //div.carousel-item.carousel-item--c
                //div.carousel-item.carousel-item--d
                //div.carousel-item.carousel-item--e
                //div.carousel-item.carousel-item--f
                //div.carousel-item.carousel-item--g
                img(src="../images/index/reviews-carousel_1.svg").carousel-item
                img(src="../images/index/reviews-carousel_2.svg").carousel-item
                img(src="../images/index/reviews-carousel_3.svg").carousel-item
                img(src="../images/index/reviews-carousel_4.svg").carousel-item
                img(src="../images/index/reviews-carousel_5.svg").carousel-item
                img(src="../images/index/reviews-carousel_6.svg").carousel-item
                img(src="../images/index/reviews-carousel_7.svg").carousel-item
