extends include/template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'My lessons';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'my-lessons';
block content
    div#book-calendar