extends include/template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'speaking-club';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'speaking-club';
block content
    include include/book-calendar.html