extends include/template
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Ваши занятия';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'student-lessons';
block content
    section.inner
        h2.main-title Ваши занятия
        div.decor-line
        div.block
            div.block__elem.block__elem--title Занятия с преподавателем
            div.block__elem.block__elem--decor-line-vertical
            div.block__elem.block__elem--content
                div.content-elem 8 марта 10:00
                div.content-elem 8 марта 10:00
                div.content-elem 8 марта 10:00
                div.content-elem 8 марта 10:00
                div.content-elem 8 марта 10:00
        div.decor-line
        div.block
            div.block__elem.block__elem--title Speaking - club
            div.block__elem.block__elem--decor-line-vertical
            div.block__elem.block__elem--content


