<section id="my-calendar" class="my-calendar admin-inner admin-panel-section calendar-active">
    <h2  class="main-title">Календарь занятий</h2>
    <h3 class="main-title main-title__description">Здесь ты можешь посмотреть информацию о забронированных занятиях, нажав на интересующую ячейку</h3>
    <div class="wrapper">
        <div class="calendar-header">
            <div class="header-content">
                <div class="month-module header-content__element">
                    <p class="month">{{monthes[month]}} {{year}}</p>
                    <div v-on:click="decrease"  class="month-btn month-btn--left-btn"></div>
                    <div v-on:click="increase"  class="month-btn month-btn--right-btn"></div>
                </div>
                <select class="time-zone header-content__element">
                    <option>Europe/Moscow GMT +3:00</option>
                </select>
            </div>
        </div>



        <table class="calendar-table admin-inner">
            <tr>
                <th v-for="d in day">{{d}}</th>
            </tr>

            <tr v-for="week in calendar()">

                <td  class="calendar-table-day"  v-for="day in week" :style="{'background-color': day.current}" :date="day.index + '.' + currentMonth + '.' + year"><span class="day-number">{{ day.index }}</span><span class="day-time">13:00 - 14:00 David</span></td>

            </tr>
        </table>
    </div>
</section>


