section.offers.section.inner
    h1.title.offers-title НАШИ ПРЕДЛОЖЕНИЯ
    h3.slogan.offers-slogan После наших уроков мы заговорим на одном языке
    div.offers-cards
        div.offers-cards-conteiner.offers-cards-conteiner--courses
            div.offers-cards__card.offers-cards__card--courses
                div.card-content.card-content--front.card-side-active
                    div.card-icon
                    //img(src="../images/index/card-logo-bear.svg").card-icon
                    div.wrap
                        h3.card-title Курсы
                        p.card-description.card-description--front.card-side-active Подписка на видеокурс, который подходит именно тебе
                    div.begin-btn.detail-btn подробнее
                div.card-content.card-content--end
                    p.card-description.card-description--back Здесь ты можешь выбрать грамматический курс , который подходит именно тебе, в каждом курсе ты получишь видеоуроки с домашними заданиями, полезными материалами и обратной связью.
                    p.card-content-price от 25$
                    a(href='/courses.php').begin-btn начать

        div.offers-cards-conteiner.offers-cards-conteiner--private
            div.offers-cards__card.offers-cards__card--private
                div.card-content.card-content--front.card-side-active
                    div.card-icon
                    //img(src="../images/index/card-logo-balalayka.svg").card-icon
                    div.wrap
                        h3.card-title Занятия с #[br] преподавателем
                        p.card-description.card-description--front Индивидуальные занятия по видеосвязи для любого уровня
                    div.begin-btn.detail-btn подробнее
                div.card-content.card-content--end
                    p.card-description.card-description--back Забронируй 60-минутный урок с преподавателем в удобное для тебя время. Вместе мы определим индивидуальный план развития. #[br] #[br] Урок включает грамматику и работу с упражнениями.
                    p.card-content-price от 25$
                    a(href='/private-lesson.php').begin-btn начать
        div.offers-cards-conteiner.offers-cards-conteiner--s-club
            div.offers-cards__card.offers-cards__card--s-club
                div.card-content.card-content--front.card-side-active
                    div.card-icon
                    //img(src="../images/index/card-logo-samovar.svg").card-icon
                    div.wrap
                        h3.card-title Speaking-Сlub
                        p.card-description.card-description--front Для тех, кто немного говорит по-русски и хочет улучшить разговорные навыки
                    div.begin-btn.detail-btn подробнее
                div.card-content.card-content--end
                    p.card-description.card-description--back Если ты уже немного говоришь по-русски и хочешь увеличить словарный запас, а так же приятно провести время за разговором - Speaking-Club как раз для тебя.
                    p.card-description.card-description--back.card-description--addition Не включает грамматику и подходит для любого уровня.
                    p.card-content-price от 25$
                    a(href='/speaking-club.php').begin-btn начать