section.settings
   div.settings-main-frame
        div.settings-main-frame__elem.settings-main-frame__elem--header
            div.move-icon
            h3.settings-title Настройки
            div.close-btn.close-btn--settings.marker
        div.settings-main-frame__elem.settings-main-frame__elem--decor-line.decor-line
        div.settings-main-frame__elem.settings-main-frame__elem--content

            div.setting-content-elem.setting-content-elem--name
                div.flex
                    p.placeholder имя пользователя
                    div.change-btn изменить
                div.main-text.main-text--user-name Ivan Ivanov
            div.settings-main-frame__elem.settings-main-frame__elem--decor-line.decor-line

            div.setting-content-elem.setting-content-elem--password
                div.flex
                    p.placeholder пароль
                    div.change-btn изменить
                div.main-text.main-text--password **********
            div.settings-main-frame__elem.settings-main-frame__elem--decor-line.decor-line

            div.setting-content-elem.setting-content-elem--email
                div.flex
                    p.placeholder email
                    div.change-btn изменить
                div.main-text.main-text--email mr.coul@inbox.ru
            div.settings-main-frame__elem.settings-main-frame__elem--decor-line.decor-line

            div.setting-content-elem.setting-content-elem--skype
                div.flex
                    p.placeholder skype
                    div.change-btn изменить
                div.main-text.main-text--skype mrcoul3
            div.settings-main-frame__elem.settings-main-frame__elem--decor-line.decor-line

            div.setting-content-elem.setting-content-elem--avatar
                div.flex
                    p.placeholder фото профиля
                    div.change-btn изменить
                div.avatar