doctype html
html(lang="en")
    block sharedVars
    head
        title #{pageTitle}
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset='utf-8')
    body#mysite(class=`${bodyAdditionClass}`)
        include login-form.pug
        include register-form.pug
        header.header
            div.header__overhead
                div.social-net-btns.social-net-btns--header
                    a(href="../").social-net-btns__elem.social-net-btns__elem--instagram
                    a(href="../").social-net-btns__elem.social-net-btns__elem--tiktok
                a(href="index.php").header-logo
                    //img(src="images/icons/logo.svg", alt="logo")
                div.service-btns 
                    div.btn-change-lang.language.eng-lang
                        div.lang-changer.language.rus-lang

                    div.btn-login Войти
                    div.user-login
                        img(src="images/icons/user-ico.svg", alt="").user-login__elem
                        p.user-login__elem.user-login__elem--user-name sdasdsad
                        img(src="images/icons/user-arrow.svg", alt="").user-login__elem
                        div.user-login-menu
                            a(href="/").user-login-menu__elem.user-login-menu__elem--messages Сообщения
                            a(href="../").user-login-menu__elem.user-login-menu__elem--lessons Мои уроки
                            a(href="../").user-login-menu__elem.user-login-menu__elem--settings Настройки
                            div.decor-line.decor-line--user-login-menu
                            a(href="../index.php").user-login-menu__elem.user-login-menu__elem--logout Выход
                    div.burger-btn
                        input(type="checkbox" id="burger").burger-menu.burger-menu-input
                        label(for="burger").burger-menu-label
                            div.burger-menu-line
                            div.burger-menu-line
                            div.burger-menu-line
            div.decor-line.decor-line--header.decor-line--header-mobile
            div.header__lower.inner
                div.decor-line.decor-line--header
                nav.header-menu
                    a(href="about.php").header-menu--about Об авторе
                    a(href="courses.php").header-menu--courses Курсы
                    a(href="private-lesson.php").header-menu--private Занятие с преподавателем
                    a(href="speaking-club.php").header-menu--s-club Speaking-club
                    a(href="guide.php").header-menu--guide Гайд
                div.decor-line.decor-line--header.decor-line-mobile-hide
        main(class=`${pageAdditionClass}`)
            block content
        footer.footer.inner
            div.decor-line.decor-line--footer
            div.footer-content
                a(href="../").footer-content__element.footer-content__element--logo
                    //img(src="../images/icons/logo.svg", alt="logo").footer-content__element.footer-content__element--logo
                div.footer-content__element.footer-content__element--text
                    h2.footer-questions Если возникли вопросы:
                    a(href="../")
                        h2.footer-email svetlana.totr@gmail.com
                    //a(href="../")
                    //    h2.footer-skype @svetlana.totr
                div.footer-content__element.social-net-btns
                    a(href="../").social-net-btns__elem.social-net-btns__elem--instagram
                        //img(src="../images/icons/insta-icon.svg")
                    a(href="../").social-net-btns__elem.social-net-btns__elem--tiktok
                        //img(src="../images/icons/tiktok.svg")
