
#mysite {
  // общие для всех вкладок
  .admin-panel-section {
    margin-bottom: 80px !important;
    display: none;
    position: relative;
    .main-title {
      text-align: center;
      font-weight: 300;
      color: $colorLightBlack;
      margin: 30px 0;
      &__description {
        margin-top: -20px;
        margin-bottom: 20px;
      }
    }
    .wrapper {
      font-family: 'Montserrat', sans-serif;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;

      .calendar-header {
        .header-content {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &__element {
            margin-right: 30px;
          }

          .month-module {
            display: flex;
            align-items: center;

            .month {
              margin-right: 10px;
              color: $colorLightBlack;
            }

            .month-btn {
              width: 27px;
              height: 27px;
              background-size: contain;
              cursor: pointer;

              &--left-btn {
                background-image: url("../images/icons/month-left-btn.svg");
              }

              &--right-btn {
                background-image: url("../images/icons/month-right-btn.svg");
              }
            }
          }

          .time-zone {
            font-family: 'Montserrat', sans-serif;
            right: 20px;
            position: absolute;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            width: 239px;
            height: 27px;
            border: none;
            outline: none;
            font-size: 16px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      .calendar-table {
        border: 2px solid white;
        border-top: 1px solid #C4C4C4;
        width: 100%;
        border-collapse: collapse;
        .php-data {
          visibility: hidden;
        }
        .day-number {
          display: block;
          position: absolute;
          top: 0;
          color: #4C59D9;
        }
        .day-time {
          font-family: "Exo 2";
          display: block;
          position: relative;
          margin: 10px;
          text-align: center;
        }
        th {
          font-weight: normal;
          font-size: 16px;
          color: $colorLightBlack;
        }
        td {
          height: 100px;
        }
        th, td {
          padding: 3px; /* Поля вокруг содержимого таблицы */
          border: 1px solid #C4C4C4;
          max-width: 70px;
          width: 7.342%;
          position: relative;
        }
        .calendar-table-day {
          cursor: pointer;
          transition: all ease-in .2s;
          .day-time {
            font-size: 14px;
            margin: 0 auto;
            width: 100px;
            span {
              background-color: #33DCD9;
              border: 0.5px solid #C4C4C4;
              box-sizing: border-box;
              border-radius: 5px;
              color: white;
              display: block;
              margin: 2px 0;
            }
          }
          &:hover {
            background-color: rgba(255, 62, 40, 0.22);
            transition: all ease-in .2s;
          }
        }
      }
    }
  }

  .my-calendar {

  }

  .my-schedule {
    .time-changer-wrapper {
      position: fixed;
      background: rgba(0, 0, 0, 0.12);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .time-changer {
      display: none;
      font-family: 'Montserrat', sans-serif;
      width: 596px;
      //height: 361px;
      background: #EFF4F9;
      border-radius: 20px;
      padding: 20px 40px;
      box-sizing: border-box;
      position: fixed;
      top: 100px;
      left: 0;
      right: 0;
      margin: auto;

      .time-changer-title {
        color: $colorRed;
        font-weight: 300;
        text-align: center;
        margin-bottom: 10px;
      }
      .time-changer-current-date {
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
        color: $colorLightBlack;
      }
      .form-close-btn {
        background-image: url("../images/icons/close-btn.svg");
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .time-changer-content {
        display: flex;
        justify-content: center;
        .time-setter-modul {
          margin-top: 20px;

          .time-selectors-block {
            display: flex;
            align-items: center;
            width: 300px;
            margin: 0 auto;
            margin-left: 97px;
            &__item {
              margin-right: 7px;
            }
          }

          select {
            height: 27px;
            width: 115px;
            font-family: 'Montserrat', sans-serif;
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            border: none;
            outline: none;
          }

          .line {
            width: 16px;
            background: #BABDC1;
            height: 1px;
          }

          .time-changer-button {
            margin: 0 auto;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 26px;
            cursor: pointer;
            transition: transform .05s ease-in-out;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;

            &:active {
              transition: transform .05s ease-in-out;
              transform: scale3d(.95, .95, .95);
            }

            &--add-time-button {
              width: 33px;
              height: 27px;
              background: #6F97AA;
            }

            &--apply-to-current-day {
              background: #6F97AA;
              width: 206px;
              height: 27px;
              margin: 26px auto 7px;
            }

            &--apply-to-all-day {
              width: 206px;
              height: 27px;
              background: #768E99;
            }
            &--clear-schedule {
              width: 206px;
              height: 27px;
              background: $colorRed;
              margin-top: 7px;
            }
          }




        }
        &__element {
          margin: 20px 0;
          &--time-list-modul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 450px;
            max-height: 250px;
            .time-elem {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 5px;
              //margin-left: 25px;
              .time {
                width: 130px;
                text-align: center;
                display: block;
                padding: 5px;
                background-color: #33DCD9;
                box-sizing: border-box;
                border-radius: 5px;
                color: white;
                position: relative;
                margin-right: 10px;
              }
              .del-btn {
                background-image: url("../images/icons/time-delete.svg");
                width: 13px;
                height: 13px;
                cursor: pointer;
                margin-right: 10px;
              }
            }
          }
        }




      }
    }

    #cube-loader {
      background: rgb(255, 255, 255);
      align-items: center;
      display: flex;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 1000;
      & .caption {
        margin: 0 auto;
      }
      .cube-loader {
        width: 73px;
        height: 73px;
        margin: 0 auto;
        margin-top: -262px;
        position: relative;
        transform: rotateZ(45deg);

        & .cube {
          position: relative;
          transform: rotateZ(45deg);
          width: 50%;
          height: 50%;
          float: left;
          transform: scale(1.1);
        }
        & .cube:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(52, 73, 94, 1.0);
          animation: cube-loader 2.76s infinite linear both;
          transform-origin: 100% 100%;
        }
        & .loader-2 {
          transform: scale(1.1) rotateZ(90deg);
        }
        & .loader-3 {
          transform: scale(1.1) rotateZ(180deg);
        }
        & .loader-4 {
          transform: scale(1.1) rotateZ(270deg);
        }
        & .loader-2:before {
          animation-delay: 0.35s;
        }
        & .loader-3:before {
          animation-delay: 0.69s;
        }
        & .loader-4:before {
          animation-delay: 1.04s;
        }
      }
    }

    @keyframes cube-loader {
      0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
      }
      25%, 75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
      }
      90%, 100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
      }
    }

    .calendar-active {
      display: block;
    }
    .calendar-disable {
      display: none;
    }
  }


  // для переключения активности вкладок
  .calendar-active {
    display: block;
  }
  .calendar-disable {
    display: none;
  }

}

