#mysite {
  .courses-page {
    .courses {
      padding-top: 300px;
      padding-bottom: 140px;
      @include mediaWidth(767) {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .main-title {

      }
    }
  }
}