#mysite {
  .speaking-club {
    .title {
      font-weight: 400;
      position: relative;
      top: 265px;
      text-align: center;
      color: $colorLightBlack;
      @include mediaWidth(1024) {
        top: 220px;
      }

    }
  }
}