$colorLightBlack: #455A64;
$colorRed: #FF3E28;
$colorBlue: #4C59D9;
$colorOrange: #FFA725;
$colorTurquoise: #34CFBE;
//$colorTurquoise: #9abbba;
$colorDisable: #C4C4C4;

@mixin mediaWidth($media-width) {
    @media screen and (max-width: #{$media-width}px) {
        @content;
    }
}
//@include mediaWidth(1024)
//@include mediaWidth(767)